@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

.label {
  color: #a7a7a7;
}

.sortSelection {
  color: white;
  border: none;
  height: 2em;
  padding: 0 1.5em 0 0.5em;
  background: $danger url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
}

.sortSelection option {
  background-color: #18191a;
  color: $white;
}