@import "../node_modules/bootstrap/scss/bootstrap";

html,
body {
  background-color: #18191A !important;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  position: relative;
  min-height: 100%;
}

.content {
  padding-bottom: 8em;
}

.footer {
  position: absolute !important;
  background-color: #0d0c0c;
  width: 100%;
  padding: 2em 0;
  font-size: 12px;
  bottom: 0;
  border-top: 1px solid #681212;
  color: #939393;
}

.footer a, .footer a:hover {
  color: #f01f1f;
}
